{% assign bundle_collection = collections['best-sellers'] %}
{% assign product_count = product.metafields.custom.bundle_product_count | default: 4 %}
{% assign dropdown_ml = product.metafields.custom.bundle_bottle_size | default: "50" %}
{% assign bundle_ml = dropdown_ml | append: "ml" %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign fixed_bundle_products = product.metafields.custom.fixed_bundle_products.value %}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{%- liquid
  assign next_bundle = product.metafields.custom.next_bundle
  if next_bundle != blank
    assign next_bundle_product = next_bundle.value
    assign next_size = next_bundle_product.metafields.custom.bundle_bottle_size
    assign price_difference = next_bundle_product.price | minus: product.price | money
  endif
-%}

{% if next_bundle != blank %}
  <div class="bg-white border border-gray-200 rounded-lg px-4 py-2.5 mb-4">
    <div class="flex items-center gap-2 text-black">
      <svg
        class="size-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
      </svg>
      <span>Passa a
        <a href="{{ next_bundle_product.url }}" class="ml-auto font-medium text-red-600 whitespace-nowrap transition-colors">
          {{ next_size }}ML con soli {{ price_difference }} in più.</a>
      </span>
    </div>
  </div>
{% endif %}

<div id="price-{{ section.id }}" class="bundle-price-pdp" role="status" {{ block.shopify_attributes }}>
  <div class="flex flex-wrap items-center gap-x-3">
    {% if product.compare_at_price > product.price %}
      <span class="text-gray-500 font-semibold line-through text-base md:text-[19px]">
        {{ product.compare_at_price | money }}
      </span>
    {% endif %}
    <span class="text-black font-bold text-[23px] md:text-[27px]">
      {{ product.price | money }}
    </span>
    {% if product.compare_at_price > product.price %}
      {% assign discount = product.compare_at_price | minus: product.price %}
      {% assign discount_percent = discount | times: 100 | divided_by: product.compare_at_price | round %}
      <span class="bg-red-600 text-white font-bold px-2 text-xs md:text-base">
        -{{ discount_percent }}%
      </span>
    {% endif %}
  </div>
  <div class="text-lg font-semibold text-black leading-normal">
    Solo {{ product.price | divided_by: product_count | money }} per bottiglia
  </div>
</div>

<div x-data>
  <div class="grid grid-cols-1 gap-2 mb-4">
    <template x-for="index in ({{ product_count }})" :key="index">
      <div
        @click="$store.bundleBuilder.showModal = true"
        class="bg-white border-2 border-solid border-gray-200 flex items-center p-[7px] rounded-xl gap-2 cursor-pointer relative transition duration-300 hover:border-[#22613A]"
        :class="{ '!border-[#22613A]' : typeof $store.bundleBuilder.selectedProducts[index - 1] !== 'undefined'}">
        <div x-text="index" class="bg-[#22613A] size-6 rounded-lg text-white font-bold text-xs flex items-center justify-center shrink-0"></div>
        <div x-show="!$store.bundleBuilder.selectedProducts[index - 1]" class="flex min-w-0 gap-2 items-center flex-grow">
            {% render 'perfume-icon'
            , size: 40 %}
            <div class="min-w-0 flex-1">
              <div class="text-sm text-[#6b7280] overflow-hidden whitespace-nowrap [text-overflow:ellipsis]">
                Scegli il tuo profumo
              </div>
            </div>
            <span class="ml-auto shrink-0 text-[#6b7280]"><svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"></path></svg></span>
        </div>
        <div x-show="$store.bundleBuilder.selectedProducts[index - 1]" class="flex min-w-0 gap-2 items-center flex-grow">
            <img
                class="object-cover rounded"
                :src="$store.bundleBuilder.selectedProducts[index - 1].image"
                :alt="$store.bundleBuilder.selectedProducts[index - 1].name"
                width="40"
                height="40"
            >
            <div class="text-left min-w-0 flex-1 flex flex-col gap-1">
                <div class="font-bold text-sm leading-tight text-black line-clamp-1" x-text="$store.bundleBuilder.selectedProducts[index - 1].name"></div>
                <div class="text-xs line-clamp-1 text-[#6b7280]"><span x-text="$store.bundleBuilder.selectedProducts[index - 1].inspiration_name"></span> - <span x-text="$store.bundleBuilder.selectedProducts[index - 1].variant.title"></span></div>
            </div>
            {% unless product.tags contains 'fixed_bundle' %}
              <button @click.stop.prevent="$store.bundleBuilder.removeProduct(index - 1)" class="ml-auto size-7 shrink-0 bg-red-50 flex items-center justify-center rounded text-xs cursor-pointer border-0">
                  {% render 'icon-trash' %}
              </button>
            {% else %}
            {% endunless %}
        </div>
      </div>
    </template>
  </div>

  <button
    x-data
    @click="$store.bundleBuilder.doATCandCheckout()"
    :disabled="$store.bundleBuilder.selectedProducts.length < {{ product_count }} || $store.bundleBuilder.addingToCart"
    :class="{
        'opacity-50 cursor-not-allowed': $store.bundleBuilder.selectedProducts.length < {{ product_count }},
        'cursor-pointer hover:bg-[#368856]': $store.bundleBuilder.selectedProducts.length >= {{ product_count }}
      }"
    class="w-full flex gap-2 flex-wrap items-center !mb-0 text-lg font-bold !py-3 !px-2 rounded-full button bg-[#22613a] transition-colors shadow-xl tracking-normal button--full-width"
  >
    <span x-show="$store.bundleBuilder.selectedProducts.length < {{ product_count }}" x-text="'Seleziona altre ' + ({{ product_count }} - $store.bundleBuilder.selectedProducts.length)"></span>
    <span x-show="$store.bundleBuilder.selectedProducts.length === {{ product_count }}">Acquista ora</span>
    <span class="size-2 rounded-full inline-block bg-white/50"></span>
    <span class="current-price">{{ selected_variant.price | money }}</span>
    <div x-show="$store.bundleBuilder.addingToCart" class="loading__spinner">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="spinner"
        viewBox="0 0 66 66">
        <circle
          stroke-width="6"
          cx="33"
          cy="33"
          r="30"
          fill="none"
          class="path"></circle>
      </svg>
    </div>
  </button>
</div>

<div class="!my-6">
  <p class="my-0 text-center text-sm font-semibold tracking-normal">
    Levereras till
    <span class="shipping_location">{{ localization.country.name }}</span>
    inom 5 arbetsdagar. Inga tullavgifter.
  </p>
</div>

<script>
  document.addEventListener('alpine:init', function() {
    Alpine.store('bundleBuilder', {
      selectedVariant: "{{ bundle_ml }}",
      bundleLength: {{ product_count }},
      showModal: false,
      activeCategory: "All",
      searchText: "",
      addingToCart: false,
      selectedProducts: [
        {% if product.tags contains 'fixed_bundle' %}
          {% for fixed_var in fixed_bundle_products %}
            {
              id: {{ fixed_var.product.id }},
              name: "{{ fixed_var.product.title }}",
              image: "{{ fixed_var.product.featured_image | image_url }}",
              inspiration_name: "{% if fixed_var.product.metafields.custom.inspired_by.value %}{{ bundle_product.metafields.custom.inspired_by.value.title }}{% endif %}",
              variant: {
                id: "{{ fixed_var.id }}",
                title: "{{ fixed_var.title }}"
              }
            },
          {% endfor %}
        {% endif %}
      ],
      availableProducts: [
        {% for bundle_product in bundle_collection.products %}
          {% liquid
            assign collection_handles = ''
            for collection in bundle_product.collections
              assign collection_handles = collection_handles | append: collection.handle
              if forloop.last == false
                assign collection_handles = collection_handles | append: ','
              endif
            endfor
          %}
          {
            id: {{ bundle_product.id }},
            name: "{{ bundle_product.title }}",
            image: "{{ bundle_product.featured_image | image_url: width: 120, height: 120 }}",
            nuta: "{% if bundle_product.metafields.custom.inspired_by.value %}{{ bundle_product.metafields.custom.inspired_by.value.title }}{% endif %}",
            inspiration_image: "{% if bundle_product.metafields.custom.inspired_by.value %}{{ bundle_product.metafields.custom.inspired_by.value.image | image_url: width: 90, height: 90 }}{% endif %}",
            inspiration_name: "{% if bundle_product.metafields.custom.inspired_by.value %}{{ bundle_product.metafields.custom.inspired_by.value.title }}{% endif %}",
            tags: {{ bundle_product.tags | json }},
            collections: "{{ collection_handles }}",
            variants: {
              {% for variant in bundle_product.variants %}
                "{{ variant.title | downcase |  replace: ' ml', 'ml' }}": {
                  title: "{{ variant.title }}",
                  id: "{{ variant.id }}"
                },
              {% endfor %}
            }
          },
        {% endfor %}
      ],
      addRemoveProduct(product) {
        if (this.selectedProducts.length < {{ product_count }} && !this.isProductSelected(product.id)) {
          product.variant = product.variants[this.selectedVariant]
          this.selectedProducts.push(product);

          if (this.selectedProducts.length === {{ product_count }}) {
            this.showModal = false;
            // Do auto ATC and redirect to checkout
            {% if product.tags contains 'bogo' %}
              this.doCheckout();
            {% else %}
              this.doATCandCheckout();
            {% endif %}
          }
        } else {
          this.removeProduct(this.selectedProducts.findIndex(item => item.id === product.id));
        }
      },
      removeProduct(index) {
        this.selectedProducts.splice(index, 1);
      },
      isProductSelected(productId) {
        return this.selectedProducts.some(product => product.id === productId);
      },
      doATCandCheckout() {
        // Set loading state
        this.addingToCart = true;
        
        // Create properties object with bundle items
        const properties = {
          "_bundle_items": this.selectedProducts.map(product => 
            product.variant.id
          ).join(',')
        };
        // Add each selected product as a separate property
        this.selectedProducts.forEach((product, index) => {
          properties[`Bottle ${index + 1}`] = 
            `${product.name} Inspired by ${product.inspiration_name} - ${product.variant.title}`;
        });
        // Prepare cart items
        const items = {
          items: [{
            id: {{ selected_variant.id }},
            quantity: 1,
            properties: properties
          }]
        };

        // Make the API call
        fetch('/cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(items),
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(() => {
          // Redirect to cart after successful addition
          window.location.href = '/checkout';
        })
        .catch(error => {
          console.error('Error adding to cart:', error);
          // Handle error (e.g., show error message to user)
        })
        .finally(() => {
          this.addingToCart = false;
        });
      }
    });
  });
</script>

<style>
  .animate-ping-large {
    animation: ping-large 1.5s ease-in-out infinite;
  }

  @keyframes ping-large {
    0% {
      box-shadow: 0 0 0 0 rgba(34, 197, 94, 1);
    }
    60% {
      box-shadow: 0 0 0 5px rgba(34, 197, 94, 0);
    }
    100% {
      box-shadow: 0 0 0 5px rgba(34, 197, 94, 0);
    }
  }
</style>

{% assign future_date = 'now' | date: '%s' | plus: 432000 %}

{% assign weekday_en = future_date | date: "%A" %}
{% assign month_en = future_date | date: "%B" %}
{% assign day = future_date | date: "%d" %}

{% case weekday_en %}
  {% when "Monday" %}
    {% assign weekday = "Montag" %}
  {% when "Tuesday" %}
    {% assign weekday = "Dienstag" %}
  {% when "Wednesday" %}
    {% assign weekday = "Mittwoch" %}
  {% when "Thursday" %}
    {% assign weekday = "Donnerstag" %}
  {% when "Friday" %}
    {% assign weekday = "Freitag" %}
  {% when "Saturday" %}
    {% assign weekday = "Samstag" %}
  {% when "Sunday" %}
    {% assign weekday = "Sonntag" %}
{% endcase %}

{% case month_en %}
  {% when "January" %}
    {% assign month = "Januar" %}
  {% when "February" %}
    {% assign month = "Februar" %}
  {% when "March" %}
    {% assign month = "März" %}
  {% when "April" %}
    {% assign month = "April" %}
  {% when "May" %}
    {% assign month = "Mai" %}
  {% when "June" %}
    {% assign month = "Juni" %}
  {% when "July" %}
    {% assign month = "Juli" %}
  {% when "August" %}
    {% assign month = "August" %}
  {% when "September" %}
    {% assign month = "September" %}
  {% when "October" %}
    {% assign month = "Oktober" %}
  {% when "November" %}
    {% assign month = "November" %}
  {% when "December" %}
    {% assign month = "Dezember" %}
{% endcase %}

<div class="!my-6 flex justify-center items-center gap-3">
  <span class="size-3 bg-green-600 rounded-full animate-ping-large shrink-0"></span>
  <span class="leading-snug">
    Blicke auf sich ziehen – ab
    <span class="text-white bg-green-700 rounded inline-block p-1 leading-none">
      {{ weekday }}, {{ day }} {{ month }}
    </span>
    bei dir.
  </span>
</div>

<div class="my-6">
  <div class="flex items-center gap-3 text-base">
    <img
      src="https://cdn.shopify.com/s/files/1/0623/0691/0402/files/thimbs_up.png?v=1751372431"
      alt="Thumbs up badge"
      class="w-10 h-10 flex-shrink-0"
      width="40"
      height="40" />
    <div class="text-slate-900">
      <strong class="font-semibold">Teste es 60 Tage lang – völlig risikofrei.</strong>
      <div class="[display:none] md:block">Sollten Sie nicht absolut begeistert sein, erstatten wir Ihnen den vollen Betrag zurück!</div>
    </div>
  </div>
</div>
